<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d5f98d09-8f87-41ab-af8d-1f885da38f6e/resourcegroups/MaerskLineSoutheastAsia/providers/Microsoft.Web/sites/maersklinelsf</ResourceId>
    <ResourceGroup>MaerskLineSoutheastAsia</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maersklinelsf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maersklinelsf.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>maersklinelsf</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$maersklinelsf</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MaerskLineAssignmentContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:shipserver.database.windows.net,1433;Initial Catalog=shipdb;Persist Security Info=False;User ID=TP031954;Password=Lsf28101995;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MaerskLineAssignment.Models.MaerskLineAssignmentContext, MaerskLineAssignment" MigrationConfiguration="MaerskLineAssignment.Migrations.Configuration, MaerskLineAssignment" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MaerskLineAssignmentContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shipserver.database.windows.net,1433;Initial Catalog=shipdb;Persist Security Info=False;User ID=TP031954;Password=Lsf28101995;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineAssignmentContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shipserver.database.windows.net,1433;Initial Catalog=shipdb;Persist Security Info=False;User ID=TP031954;Password=Lsf28101995;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineAssignmentContext-Web.config Connection String">
      <ParameterValue>Server=tcp:shipserver.database.windows.net,1433;Initial Catalog=shipdb;Persist Security Info=False;User ID=TP031954;Password=Lsf28101995;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineAssignmentContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shipdatabase.database.windows.net,1433;Initial Catalog=shipdb;Persist Security Info=True;User ID=TP031954;Password=Lsf28101995;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineAssignmentContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shipdatabase.database.windows.net,1433;Initial Catalog=shipdb;Persist Security Info=True;User ID=TP031954;Password=Lsf28101995;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MaerskLineAssignmentContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shipdatabase.database.windows.net,1433;Initial Catalog=shipdb;Persist Security Info=True;User ID=TP031954;Password=Lsf28101995;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>